/*
 * Application manifest sections and keys:
 *
 * - application section: metadata about the application
 *
 *   o origin: provider of the application
 *   o name: name of the application
 *   o install: extra commands to execute for installing the application
 *   o remove: extra commands to execute for removing the application
 *
 * - service section: data for running the application processes
 *
 *   o groups: supplementary groups to set for the application
 *   o environment: extra environment variables to set for the application
 *   o start: commands to run for starting the application
 *   o stop: command to stop the applciation if signals are insufficient
 *   o autostart: whether to automatically start the application on boot
 *
 * - container section: data for isolating the application into a container
 *
 *   o type: type of the container, one of none, nspawn-shared, nspawn-app,
 *            and nspawn-system
 *   o network: data about the container network setup
 *
 *     - type: currently must be VirtualEthernet
 *     - ports: array of ports to open on the firewall and potentially redirect
 *
 *        o proto: protocol, tcp, udp, tcp6, udp6
 *        o port:  port the application listens/serves on (in the container)
 *        o map: optional port to redirect on the host side
 *
 */


{
    'application': {
        'origin':      'app-provider',
        'name':        'sample-app',
        'description': 'sample-app - A sample application.',
        'install':     'echo "Installing sample-app..."',
        'remove':      'echo "Removing sample-app..."',
    },

    'service': {
        'groups': [ 'audio', 'cdrom', 'video' ],
        'environment': {
            'SAMPLE_APP_FOO': 'foo',
            'SAMPLE_APP_BAR': 'bar',
        },

        'start': [
            '/usr/bin/sample-app arg1 arg2 arg3' ],
        'stop': '',

        'autostart': true,
    },

    'container': {
        'type': 'nspawn',
        'network': {
            'type': 'VirtualEthernet',
            'ports': [ { 'proto': 'tcp', 'port': 12345, 'map': 2003 } ],
        },
    },
}
